<html>
    <head>
        <title>Lista de Tarefas</title>
        <link rel="stylesheet" href="/public/style.css">
    </head>
    <body>
        <div class="tarefas">

            <form method="post">
                <input type="text" name="tarefa"/>
                <input type="submit" name="inserir" value="inserir"/>
            </form>

            <% taskList.forEach((e,i) => { %>
                <h1> <%= e %> | <a href="/deletar/<%= i %>">X</a> </h1>
            <% }) %>

        </div>
    </body>
</html>